<div class="card" style="width: 40rem; align-self:auto;">
  <div class="card-header" style="font-style: italic">Existing Users</div>
  <div class="card-body">
    @if (error) {
      <div class="alert alert-danger">
        <p>{{ error }}</p>
      </div>
    }
    @if (isLoading) {
      <div style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>
    }
    @if (!isLoading) {
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="email" id="email" class="form-control" formControlName="email" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" formControlName="password" required />
        </div>
        <div>
          <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">
            {{ 'Login' }}
          </button>
        </div>
      </form>
    }
  </div>
</div>