@if (investments && investments.length == 0) {
  <div class= "alert alert-info" style=" text-align: center;">
    <h6> Your investment bucket is empty! Want to buy some? please visit Stocks tab!</h6>
  </div>
}
@if (investments && investments.length !=0) {
  <div class="table" style="width: 40rem; align-self: auto;">
    <div class="col-md-12">
      <div class="container">
        <table class="table table-stripped">
          <thead style="background-color: chartreuse; color: black;">
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Quantity</th>
              <th>Cost Price</th>
              <th>Current Price</th>
              <th>%P/L</th>
            </tr>
          </thead>
          <tbody>
            @for (portfolioEl of investments; track portfolioEl; let i = $index) {
              <tr>
                <td><a style="cursor: pointer;" [routerLink]="[i]" routerLinkActive="active">
                {{ portfolioEl.name }} </a></td>
                <td>{{ portfolioEl.type }}</td>
                <td>{{ portfolioEl.quantity }}</td>
                <td>{{ portfolioEl.costPrice }}</td>
                <td>{{ portfolioEl.currentPrice }}</td>
                <td>@if (!portfolioEl.profit) {
                  <span>-</span>
                }{{ portfolioEl.profitLossPercent }}%</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
}