<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/portfolio">Investment Book</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      @if (!isAuthenticated()) {
        <a class="nav-item nav-link active" href="#">Home<span
        class="visually-hidden">(current)</span></a>
      }
      @if (isAuthenticated()) {
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/portfolio"
        >Portfolio</a>
      }
      @if (isAuthenticated()) {
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/sip-calculator">SIP
        Calculator</a>
      }
      @if (isAuthenticated()) {
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/stocks">Stocks</a>
      }
    </div>

    @if (isAuthenticated()) {
      <div class="nav ms-auto justify-content-end">
            <li><a style="cursor: pointer; color: white;" tabindex="0" (click)="onLogout()" (keyup.enter)="onLogout()">Logout</a></li>
      </div>
    }
  </div>
</nav>