name: Angular CI

on:
  push:
    branches: [ main ]
    paths:
      - "frontend/**"
  pull_request:
    branches: [ main ]
    paths:
      - "frontend/**"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '24', '22' ]
    defaults:
      run:
        working-directory: "frontend"
    name: Node ${{ matrix.node }} sample
    steps:
      - uses: actions/checkout@v6
      
      - name: Cache node modules
        uses: actions/cache@v5.0.3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
            
      - name: Setup node - ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      
      - name: npm ci and npm run build
        run: |
          npm ci
          npm run build:ci
          
