# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven for Api Gateway

on:
  push:
    branches: [ main ]
    paths:
      - "services/api-gateway/**"
  pull_request:
    branches: [ main ]
    paths:
      - "services/api-gateway/**"

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [21]
    defaults:
      run:
        working-directory: "services/api-gateway"

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK ${{ matrix.java-version }}
      uses: actions/setup-java@v4.6.0
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'zulu'
        cache: 'maven'

    - name: Build with Maven for API gateway
      run: ./mvnw -B verify --file pom.xml

    - if: ${{ github.ref == 'refs/heads/main' }}
      name: Build Image and push to docker
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
      run: ./mvnw spring-boot:build-image -DskipTests 
